.search-input {
  margin-bottom: 16px;

  label {
    font-size: 20px;
    margin-right: 5px;
  }

  input {
    width: 50%;
  }
}

.data-table {
  width: auto;
}

/* Mobile */
@media (max-width: 576px) {
  table {
    font-size: 12px;
  }

  th,
  td {
    padding: 8px;
  }

  .btn {
    font-size: 12px;
    padding: 5px 8px;
  }
}